@page
@model LogoutModel
@{
    ViewData["Title"] = "Se déconnecter";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                 <p>Etes-vous sûr(e) de vouloir vous déconnecter ? </p>
                <button type="submit" class="nav-link btn btn-link text-dark" style="background-color: #b5b8b5;">Oui</button>
            </form>
        }
        else
        {
            <p>Vous êtes bien déconnecté de votre application.</p>
        }
    }
</header>
