
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact</h1>
<p>Pour toute information ou demande, merci de nous contactez à l'adresse mail suivante : <a style="text-decoration:underline;color:blue">AdminVE@gmail.com</a>.</p>
